{# .... **Normal content list, maybe a table** .... #}
{% if income_list %}
    <table id="income_items">
        {% for incitm in income_list %}
            <tr>
                <td>{{ incitm.subyear}}</td>
                <td>{{ incitm.received}}</td>
                <td><a href="/incitm/{{ incitm.id }}/" class="see_detail">detail</a></td>
            </tr>
        {% endfor %}
    </table>
    {# .... **Now the pagination section** .... #}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/income_items?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/income_items?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% else %}
    <h3>No Income</h3>
    <p>No Income found</p>
{% endif %}
{# .... **More content, footer, etc.** .... #}
